* {
    margin: 0;
    padding: 0;
}

hr {
    border-top: 5px solid #8C0000;
    opacity: 0.3;
    border-radius: 5px;
}

.nav {
    width: 110px;
}

.main {
    display: grid;
    grid-template-columns: 110px auto;
}

.main-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    padding-top: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-box{
    padding-top: 25px;
    padding-left: 35px;
}

.search-input {
    border: 3px solid #8C0000;
    border-radius: 50px;
    width: 500px;
    height: 45px;
    box-shadow: inset 3px 3px 2px #8c00002c;
}

::placeholder {
    color: #96373798;
    font-family: 'Open Sans';
    font-size: medium;
    vertical-align: middle;
}

.personal-menu {
    display: flexbox;
    padding-top: 25px;
    padding-right: 35px;
    height: fit-content;
}

.message {
    width: 43px;
    height: 43.79px;
    cursor: pointer;
}

.notification {
    width: 38px;
    height: 38px;
    padding-left: 28px;
    padding-bottom: 2px;
    cursor: pointer;
}

.profile {
    width: 43px;
    height: 43px;
    padding-left: 25px;
    cursor: pointer;
}

.content-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: fit-content(100%) 2fr;
    padding-top: 50px;
    animation: fadeIn linear 3s;
}

.welcome-comment {
    font-family: Chicle;
    font-size: 75px;
    color: #8C0000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.recommendation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
}

.first-column {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
}

.user-recommendation, .genre-recommendation, .playlist-recommendation {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.section-title {
    font-family: 'Open Sans';
    color: #8C0000;
    padding-bottom: 10px;
}

.users {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 20px;
    justify-items: center;
    text-align: center;
}

.profile-pic {
    width: 210px;
    height: 210px;
    cursor: pointer;
    border-radius: 70%;
    padding-bottom: 10px;
    /* border: 2px solid #8C0000; */
}

.nickname {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}