html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none
}

.entire-profile-page {
    height: 100%;
    animation: page-fade-in 0.5s
}

.profile-body {
    display: flex;
    flex-direction: column;
}

.profile-section {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Open Sans';
}

.profile-image {
    display: block;
    width: 305px;
    height: 305px;
    object-fit: cover;
    border-top-left-radius: 225px;
}

.profile-info {
    display: flex;
    width: 730px;
    height: 305px;
    background-color: #222222;
    border-bottom-right-radius: 225px;
}

.etc-option-btns {
    display: flex;
    flex-direction: column;
}

.add-btn, .settings-btn {
    margin-left: 30px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
    cursor: pointer;

    transition: all .4s ease-in-out;
}

.add-btn:hover {
    transform: rotate(180deg);
}

.settings-btn:hover {
    transform: rotate(90deg);
}

.profile-hr {
    margin: auto;
    margin-bottom: 50px;
    width: 1110px;
    object-fit: cover;
    border: none;
    border-top: 3px dotted #222222;
}

.left-section {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 35px;
}

.name-edit {
    display: flex;
    width: fit-content;
    justify-content: space-between;
}

.user-name {
    font-family: 'Fraunces';
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-right: 20px;
}

.to-edit {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 2px;
    font-size: 17px;
    cursor: pointer;

    transition: all .2s;
}

.to-edit:hover {
    text-decoration: underline;
}

.follow-section {
    display: flex;
    flex-direction: row;
    font-size: 19px;
    margin-top: 35px;
    margin-bottom: 35px;
    justify-content: space-between;
    width: 180px;
}

.follow {
    display: flex;
    flex-direction: column;
}

.fn {
    font-weight: 800;
    margin: auto;
    cursor: pointer;
    margin-bottom: 10px;

    transition: all .2s;
}

.fn:hover {
    text-decoration: underline solid white 3px;
}

.bio {
    font-size: 19px;
}

.right-section {
    margin-left: auto;
    margin-right: 30px;
    margin-top: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.instagram {
    margin-left: auto;
    width: 83px;
    height: 72px;
    margin-bottom: 83px;
}

.profile-btn {
    width: 112px;
    height: 48px;
    font-size: 18px;
    border-radius: 0;
    border: 2.5px solid #222222;
}

.profile-btn:hover {
    -webkit-animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.message-btn {
    margin-top: 15px;
}

.song-display {
    width: 1400px;
    margin: auto;
}

.row {
    display: flex;
    height: 350px;
}

.cover-container {
    height: 350px;
    width: 350px;
    cursor: pointer;

    transition: all .2s;
}

.cover-container:hover {
    opacity: 50%;
}

.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    transition: all 0.2s;
}

.cover:hover {
    transform: scale(0.85);
}

@keyframes page-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222;
        box-shadow: 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: 1px 1px #222222, 2px 2px #222222, 3px 3px #222222, 4px 4px #222222, 5px 5px #222222, 6px 6px #222222, 7px 7px #222222, 8px 8px #222222;
        box-shadow: 1px 1px #222222, 2px 2px #222222, 3px 3px #222222, 4px 4px #222222, 5px 5px #222222, 6px 6px #222222, 7px 7px #222222, 8px 8px #222222;
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px);
    }
}

@keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222;
        box-shadow: 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222, 0 0 #222222;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: 1px 1px #222222, 2px 2px #222222, 3px 3px #222222, 4px 4px #222222, 5px 5px #222222, 6px 6px #222222, 7px 7px #222222, 8px 8px #222222;
        box-shadow: 1px 1px #222222, 2px 2px #222222, 3px 3px #222222, 4px 4px #222222, 5px 5px #222222, 6px 6px #222222, 7px 7px #222222, 8px 8px #222222;
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px);
    }
}