/* html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none
} */

/* .row {
    margin-right: auto;
    display: flex;
    height: fit-content;
    width: fit-content;
}

.cover-container {
    
    height: 280px;
    width: 280px;
    cursor: pointer;
}

.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */