html, body {height: 100%; margin: 0; padding: 0;}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

.entire-splash-page {
    text-align: center;
    height: 100%;
}

.splash-header {
    display: block;
    height: 55px;
    font-family: Fraunces;
    font-size: 40px;
    color: white;
    background-color: black;
    position: fixed;
}

.splash-body {
    height: 100%;
    display: flex;
}

.logo {
    animation: rotation 8s infinite linear;
    margin: auto;
}

/* .footer {
    height: 240px; background: #F16924;
} */

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }
}

