.join {
    width: 190px;
    height: 65px;
    margin-top: 28px;
    margin-right: 25px;
    border: 3.5px solid #AF0000;
    border-radius: 50px;
    font-family: Chicle;
    font-size: 30px;
    color: #952222;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: Mosk;
    text-align: center;
}

