.start-label {
    font-family: Fraunces;
    letter-spacing: -1px;
    font-size: 19px;
    font-weight: 500;
}

.start-input {
    width: 345px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: dotted;
    border-radius: 0%;
    border-color: #222222;
    font-family: 'Open Sans';
    font-size: 17px;
    margin-top: 10px;
}

input:focus {outline:none;}

.entire-start-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Fraunces;
    letter-spacing: -2px;
    font-size: 30px;
}

.to-main {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    margin-top: 37px;
    margin-left: auto;
    margin-right: 45px;
    cursor: pointer;

    transition: all .2s;
}

.to-main:hover {
    text-decoration: underline;
}

.start-body {
    display: flex;
    margin: auto;
}

.curator-box {
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 162px;
    margin: auto;
    margin-right: 10px;
    border: 1px solid #222222;
    text-align: center;
    cursor: pointer;

    animation: opacity 1.3s;
    transition: transform .5s;
}

.curator-login-input-boxes {
    display: flex;
    flex-direction: column;
}

.curator-box:hover {
    transform: scale(1.1);
}

.new-box {
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 162px;
    margin: auto;
    margin-left: 10px;
    background: #222;
    text-align: center;
    color: white;
    cursor: pointer;

    animation: opacity 1.3s;
    transition: transform .5s;
}

.new-box:hover {
    transform: scale(1.1);
}

.curator {
    margin: auto;
    margin-bottom: 10px;
}

.curator-icon {
    width: 43px;
    height: 44px;
    margin: auto;
    margin-top: 10px;
}

.new {
    margin: auto;
    margin-bottom: 10px;
}

.new-icon {
    margin: auto;;
    width: 46.89px;
    height: 46.89px;
    margin-top: 10px;
}

.curator-login {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 10px;
}

.new-register {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 10px;
}

.curator-email-login {
    display: flex;
    flex-direction: column;
}

.curator-login-email-btn, .new-register-email-confirm-btn {
    display: flex;
    width: 350px;
    height: 50px;
    background-color: #222222;
    border: 1px solid #222222;
    color: white;
    font-family: Fraunces;
    letter-spacing: -1px;
    font-size: 20px;
    border-radius: 0%;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    cursor: pointer;
    padding: 0px;
}

.curator-login-confirm-btn {
    display: flex;
    width: 350px;
    height: 50px;
    padding: 0px !important;
    background-color: #222222;
    border: 1px solid #222222;
    color: white;
    font-family: Fraunces;
    font-size: 20px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.curator-login-email {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
}

.curator-login-confirm-btn {
    padding-left: 20px;
    padding-top: 100px;
    cursor: pointer;
}

.curator-login-google-btn, .new-register-google-btn {
    display: flex;
    width: 350px;
    height: 50px;
    background-color: white;
    border: 1px solid #222222;
    font-family: Fraunces;
    letter-spacing: -1px;
    font-size: 20px;
    border-radius: 0%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.label-with-padding {
    padding-top: 15px;
}

.btn-margin {
    margin-top: 25px;
}

@keyframes opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}