label {
    font-family: Fraunces;
    letter-spacing: -1px;
    font-size: 19px;
    font-weight: 500;
}

input {
    width: 350px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-radius: 0%;
    border-color: black;
    font-family: 'Open Sans';
    font-size: 19px;
}

input:focus {outline:none;}

.entire-start-page {
    height: 100%;
    display: flex;
    font-family: Fraunces;
    letter-spacing: -2px;
    font-size: 30px;
}

.curator-box {
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 162px;
    margin: auto;
    margin-right: 10px;
    border: 1px solid #000000;
    text-align: center;
    cursor: pointer;

    animation: opacity 1.3s;
    transition: transform .5s;
}

.curator-box:hover {
    transform: scale(1.1);
}

/* .curator-box-invisible {
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 162px;
    margin: auto;
    margin-right: 10px;
    border: 1px solid #000000;
    text-align: center;
    opacity: 0;

    animation: fadeOut .5s;
} */

.new-box {
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 162px;
    margin: auto;
    margin-left: 10px;
    background: #000000;
    text-align: center;
    color: white;
    cursor: pointer;

    animation: opacity 1.3s;
    transition: transform .5s;
}

.new-box:hover {
    transform: scale(1.1);
}

/* .new-box-invisible {
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 162px;
    margin: auto;
    margin-left: 10px;
    background: #000000;
    text-align: center;
    color: white;
    opacity: 0;

    animation: fadeOut 0.5s;
} */

.curator {
    margin: auto;
    margin-bottom: 10px;
}

.curator-icon {
    width: 43px;
    height: 44px;
    margin: auto;
    margin-top: 10px;
}

.new {
    margin: auto;
    margin-bottom: 10px;
}

.new-icon {
    margin: auto;;
    width: 46.89px;
    height: 46.89px;
    margin-top: 10px;
}

.curator-login {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 10px;
}

.new-register {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 10px;
}

.curator-email-login {
    display: flex;
    flex-direction: column;
}

.curator-login-email-btn, .new-register-email-confirm-btn {
    display: flex;
    width: 350px;
    height: 50px;
    background-color: black;
    border: 2px solid black;
    color: white;
    font-family: Fraunces;
    letter-spacing: -1px;
    font-size: 20px;
    border-radius: 0%;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    cursor: pointer;
}

.curator-login-email {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.curator-login-google-btn, .new-register-google-btn {
    display: flex;
    width: 350px;
    height: 50px;
    background-color: white;
    /* border-color: black; */
    border: 2px solid black;
    font-family: Fraunces;
    letter-spacing: -1px;
    font-size: 20px;
    border-radius: 0%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.label-with-padding {
    padding-top: 15px;
}

.btn-margin {
    margin-top: 25px;
}

@keyframes opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}