
* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #8C0000;
    width: 110px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.logo-white {
    font-family: Chicle;
    font-size: 47px;
    color: white;
    padding-top: 15px;
    text-shadow: 2px 2px 3px #640000;
    display: flexbox;
    /* cursor: pointer; */
}

.icons {
    display: flexbox;
    text-align: center;
    padding-bottom: 25px;
}

.icon-chart {
    width: 43px;
    height: 43px;
    display: inline-block;
    cursor: pointer;
}

.icon-settings {
    width: 43px;
    height: 43px;
    display: inline-block;
    padding-top: 15px;
    cursor: pointer;
}

.signout {
    width: 43px;
    height: 43px;
    display: inline-block;
    padding-top: 17px;
    cursor: pointer;
}