html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none
}

.entire-message-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Open sans';

    animation: page-fade-in 0.5s;
}

.message-body {
    margin: auto;
    display: flex;
    flex-direction: column;
    border: #222222 dotted 2px;
    padding: 25px;
}

.message-user-list {
    width: 800px;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222222;
    display: flex;
}

.message-user {
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.message-user-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;

    transition: all .2s;
}

.message-user-profile:hover {
    transform: scale(0.9);
}

.message-user-profile:hover + .message-user-id {
    transform: scale(0.95);
}

.message-user-id {
    margin: auto;
    margin-top: 10px;
    color: #AFAFAF;
    font-weight: 800;
    font-size: 14px;

    transition: all .2s;
}

.mup1, .mup2 {
    opacity: 50%;
}

.mui3 {
    color: white;
}

.message-hr {
    border: none;
    border-top: 4px dotted #222222;
    width: 800px;
    margin: auto;
    margin-bottom: 50px;
}

.chat-window {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    height: 300px;
}

.chat {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #222222 solid 1px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.chat3 {
    margin-left: auto;
    background-color: #222222;
    color: white;
}

.message-send-section {
    margin: auto;
    display: flex;
    width: 750px;
    margin-top: 50px;
}

.chat-input {
    margin: auto;
    border: none;
    width: 100%;
    font-size: 14px;
}

.message-send-icon {
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;

    transition: all .2s;
}

.message-send-icon:hover {
    transform: rotate(44deg)
}

.message-send-hr {
    width: 750px;
    height: 2px;
    border: none;
    border-top: #222222 solid 1px;
    margin-top: 0;
}